.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
/api/build/
/lib/build/
*.DS_Store
/api/src/main/resources/application.yml
.jqwik-database

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/api/out/
/lib/out/
.run

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/